/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #4ac6ba;
  --secundary-color: white;
  --accent-color: #f1f1f1;
  --hover-color: #3ba99e;
  --background-color: #f4f4f4;
  --header-color: #000000;
  --footer-color: #000;

  --text-normal: 16px;
  --text-small: 14px;
  --text-large: 18px;
  --text-xlarge: 24px;
}

/* General Styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  margin: 0;
  padding-bottom: 15vh;
  color: #333;
  line-height: 1.6;
}

/* Header styles */
header {
  background-color: var(--header-color);
  color: var(--secundary-color);
  padding: 2rem 1rem;
  text-align: center;
  font-size: var(--text-xlarge);
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Container styles */
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 20px;
  justify-content: center;
}

.contenedor {
  max-width: flex;
  background-color: var(--secundary-color);
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.contenedor:hover {
  transform: translateY(-10px);
}

.contenedor h2 {
  margin: 0 0 10px;
  color: var(--primary-color);
  font-size: var(--text-large);
}

.contenedor p {
  color: #555;
  font-size: var(--text-small);
}

.card {
  flex: 1 1 30%;
  max-width: 30%;
  background-color: #eaf4ff;
  border: 1px solid #b0d4f1;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card h2 {
  margin-top: 0;
  color: var(--primary-color);
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th {
  background-color: var(--primary-color);
  color: var(--secundary-color);
  font-weight: bold;
  text-align: left;
  padding: 10px;
}

table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

table tbody tr:hover {
  background-color: var(--accent-color);
}

/* Button styles */
button {
  padding: 10px 20px;
  color: var(--secundary-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: var(--text-normal);
}

button:hover {
  background-color: var(--hover-color);
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

#bi {
  margin-top: 30px;
}

/* Responsive design */
@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    gap: 10px;
  }

  .contenedor {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
