.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 10px 20px; /* filas de 10px, columnas de 20px */
  align-items: center;
}

.formGroup {
  display: contents; /* Para que cada label/input ocupe su celda del grid */
}

.label {
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--primary-color);
  text-align: right;
}

.input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.button {
  grid-column: 1 / -1; /* Que el botón ocupe ambas columnas */
  padding: 10px;
  font-size: 16px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
