.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 20px 0;
}

.pagination-button {
  padding: 8px 12px;
  border: 1px solid var(--primary-color);
  background-color: var(--secundary-color);
  color: var(--primary-color);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pagination-button:hover {
  background-color: var(--primary-color);
  color: var(--secundary-color);
}

.pagination-button.active {
  background-color: var(--primary-color);
  color: var(--secundary-color);
}

.pagination-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
